@model LibraryManagement.ViewModels.RequestViewModel

@{
    ViewData["Title"] = "Edit";
    string disable = User.IsInRole("Administrator") ? "disabled" : "disabled";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Context.Request.Query["id"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubsidiaryID" class="control-label"></label>
                <select asp-for="SubsidiaryID" class="form-control" disabled="@User.IsInRole("Administrator")" asp-items="ViewBag.SubsidiaryID"></select>
                <span asp-validation-for="SubsidiaryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDeadline" class="control-label"></label>
                <input asp-for="ReturnDeadline" disabled="@disable" class="form-control" />
                <span asp-validation-for="ReturnDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" disabled="@disable" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" disabled class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
